# Database Configurations
POSTGRES_DB=ratelimiter_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis Configurations
REDIS_HOST=localhost
REDIS_PORT=6379

# Service Ports
ADMIN_PORT=8081
GATEWAY_PORT=8080
SAMPLE_API_PORT=8082

# JWT Authentication
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=86400000

# Rate Limiter Configurations
REDIS_FAIL_OPEN=true
